<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hw 4</title>
        <meta charset="utf-8"/>
        <!-- Add external stylesheet -->
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
        <!-- Add font -->
        <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
        <!-- Add JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Add external javascript file -->
        <script src="/js/scripts.js"></script>
    </head>

    <body>
        <header> 
            <h1> FRONT-END PROGRAMMING </h1>
        </header>
        <hr>
        
        <!-- Navigation bar -->
        <nav>
            <a href="/">Overview</a>
            <a href="/html">HTML</a>
            <a href="/csspage">CSS</a>
            <a href="/javascript">JavaScript</a>
        </nav>
        <br /> <br />
        
        <!-- Dislplay visibly hidden but visible in DOM tree so accessible in javascript code -->
        <div class="not-visible" id="title"><%= currentPage %></div>