<!-- Must include <span class="tooltip"> before some text followed by this partial -->
    <img class="tooltipcontent" src="<%= catImg %>" alt="cat"/>
    <span class="tooltiptext tooltipcontent"><%= catName %> the Curiosity Cat</span>
</span>